<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Dojo Message Board</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<body>

<div id="wrapper">

    <h1>The Dojo Message Board</h1>

    <hr/>

    <form action="post-message" method="post">
        <p>
            <label for="name">Name:</label><br />
            <input type="text" name="name"/>
        </p>
        
        <p>
            <label for="message">Message:</label><br />
            <textarea name="message"></textarea>
        </p>

        <p>
            <input type="submit" value="Post message"/>
        </p>

    </form>

    <hr/>



</div>

</body>
</html>