body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

input[type=text] {
    width: 200px;
    padding: 5px;
}

textarea {
    width: 400px;
    height: 75px;
    padding: 5px;
    overflow: auto;
}